In [1]:
import pandas as pd
import numpy as np
import pandas_profiling as pp

In [3]:
train_data = pd.read_csv("../data/train.csv")
test_data = pd.read_csv("../data/test.csv")

In [4]:
print(train_data.head())
print(test_data.head())

   id  X00    X01  X02  X03  X04     X05    X06   X07     X08  ...  Y09  Y10  \
0   0  9.7  988.8  1.2  0.6  0.0  1009.3  989.6  12.2  1009.9  ...  7.0  7.5
1   1  9.3  988.9  1.7  1.9  0.0  1009.3  989.6  12.1  1010.0  ...  6.5  7.5
2   2  9.4  989.0  1.1  2.3  0.0  1009.2  989.7  12.1  1010.1  ...  6.5  7.5
3   3  9.4  988.9  1.5  0.7  0.0  1009.2  989.6  12.0  1010.0  ...  6.0  7.0
4   4  9.2  988.9  0.8  1.7  0.0  1009.2  989.7  12.0  1010.1  ...  6.0  7.0

   Y11  Y12   Y13  Y14  Y15  Y16  Y17  Y18
0  7.0  9.0  10.0  9.5  9.0  8.0  9.0  NaN
1  7.0  8.5  10.0  9.5  9.0  7.5  9.0  NaN
2  6.5  8.0   9.5  9.5  8.5  7.5  8.5  NaN
3  6.0  8.0   9.5  9.0  8.5  7.5  8.5  NaN
4  6.0  7.5   9.5  9.0  8.5  7.5  8.5  NaN

[5 rows x 60 columns]
     id   X00    X01  X02  X03  X04     X05    X06   X07     X08  ...   X30  \
0  4752  18.7  987.4  1.5  1.3  0.0  1006.8  987.7  21.1  1007.5  ...  91.4
1  4753  18.8  987.4  1.1  1.2  0.0  1006.7  987.7  21.2  1007.5  ...  91.6
2  4754  19.0  987.4  1.3  1.2  0.0  1006.6  987.6  21.2  1007.4  ...  92.0
3  4755  18.7  987.4  2.3  0.8  0.0  1006.6  987.6  21.1  1007.4  ...  93.0
4  4756  18.4  987.4  1.1  0.7  0.0  1006.7  987.7  20.9  1007.5  ...  92.3

    X31   X32     X33  X34    X35  X36   X37   X38  X39
0  17.5  19.2  1007.6  0.0  194.7  0.0  84.0  59.9  0.0
1  17.4  19.1  1007.5  0.0  173.1  0.0  84.0  60.5  0.0
2  17.2  19.0  1007.5  0.0  208.6  0.0  85.0  60.8  0.0
3  17.2  18.8  1007.4  0.0  185.0  0.0  85.8  61.2  0.0
4  17.4  18.9  1007.5  0.0  162.8  0.0  87.3  61.7  0.0

[5 rows x 41 columns]

In [36]:
train_data.tail(432)

,id,X00,X01,X02,X03,X04,X05,X06,X07,X08,...,Y09,Y10,Y11,Y12,Y13,Y14,Y15,Y16,Y17,Y18
4320,4320,19.3,987.7,0.9,2.2,0.0,1007.7,988.0,20.8,1007.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.5
4321,4321,19.0,987.6,1.9,2.2,0.0,1007.7,988.0,20.6,1007.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.5
4322,4322,19.1,987.6,2.0,1.4,0.0,1007.8,988.1,20.5,1007.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.5
4323,4323,19.2,987.7,1.8,1.5,0.0,1007.9,988.1,20.5,1007.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.5
4324,4324,19.2,987.8,1.4,1.4,0.0,1007.9,988.1,20.5,1007.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4747,4747,19.9,987.6,0.9,0.8,0.0,1006.9,987.7,21.7,1007.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.5
4748,4748,19.9,987.6,0.5,0.7,0.0,1006.8,987.7,21.6,1007.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.5
4749,4749,19.7,987.7,0.9,0.6,0.0,1006.9,987.6,21.4,1007.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.5
4750,4750,19.4,987.7,0.9,0.8,0.0,1006.9,987.8,21.3,1007.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.5
4751,4751,19.1,987.6,1.0,0.3,0.0,1006.8,987.8,21.2,1007.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0

In [37]:
Y18 = train_data.tail(432)

In [41]:
x_train = train_data[:4320]

In [46]:
x_train[:]

,id,X00,X01,X02,X03,X04,X05,X06,X07,X08,...,Y09,Y10,Y11,Y12,Y13,Y14,Y15,Y16,Y17,Y18
0,0,9.7,988.8,1.2,0.6,0.0,1009.3,989.6,12.2,1009.9,...,7.0,7.5,7.0,9.0,10.0,9.5,9.0,8.0,9.0,NaN
1,1,9.3,988.9,1.7,1.9,0.0,1009.3,989.6,12.1,1010.0,...,6.5,7.5,7.0,8.5,10.0,9.5,9.0,7.5,9.0,NaN
2,2,9.4,989.0,1.1,2.3,0.0,1009.2,989.7,12.1,1010.1,...,6.5,7.5,6.5,8.0,9.5,9.5,8.5,7.5,8.5,NaN
3,3,9.4,988.9,1.5,0.7,0.0,1009.2,989.6,12.0,1010.0,...,6.0,7.0,6.0,8.0,9.5,9.0,8.5,7.5,8.5,NaN
4,4,9.2,988.9,0.8,1.7,0.0,1009.2,989.7,12.0,1010.1,...,6.0,7.0,6.0,7.5,9.5,9.0,8.5,7.5,8.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4315,4315,19.5,987.8,1.7,0.4,0.0,1007.8,988.0,21.3,1007.8,...,19.5,20.0,19.0,20.5,20.5,20.0,20.0,20.5,20.0,NaN
4316,4316,19.3,987.7,2.1,0.9,0.0,1007.8,988.1,21.3,1008.0,...,19.5,20.0,19.0,20.5,20.5,20.0,19.5,20.5,19.5,NaN
4317,4317,19.5,987.8,0.9,1.3,0.0,1007.8,988.3,21.2,1008.1,...,19.5,20.0,19.0,20.0,20.0,19.5,19.5,20.0,19.0,NaN
4318,4318,20.0,987.8,1.4,0.5,0.0,1007.8,988.3,21.1,1008.1,...,19.5,20.0,18.5,20.0,20.0,19.5,19.5,20.0,19.0,NaN
4319,4319,20.1,987.8,1.2,1.2,0.0,1007.8,988.2,20.9,1008.1,...,19.5,20.0,18.5,19.5,19.5,19.5,19.5,19.5,19.0,NaN